*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
  font-family: "Roboto Serif", serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul li,
ol li {
  list-style: none;
  display: block;
  margin: 0;
}

span {
  display: inline-block;
}

ul, ol {
  display: block;
  margin: 0;
  padding-left: 0;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

strong {
  display: inline-block;
}

.site-wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  max-width: 1050px;
  width: 100%;
}

.page-profile {
  padding-left: 40px;
  margin-top: 40px;
}
.page-profile-title {
  font-size: 24px;
  font-weight: 500;
}
.page-profile-wrapper {
  margin-top: 25px;
}
.page-profile-wrapper__forms {
  display: flex;
  justify-content: space-between;
}
.page-profile-wrapper__forms-left {
  max-width: 500px;
  width: 100%;
}
.page-profile-wrapper__forms-personal {
  border: 1px solid #EBEBF0;
  border-radius: 10px;
  overflow: hidden;
}
.page-profile-wrapper__forms-personal--title {
  color: #7B828A;
  font-size: 16px;
  font-weight: 500;
  background-color: #FAFAFA;
  padding: 15px 20px;
}
.page-profile-wrapper__forms-personal--fields {
  padding: 20px;
}
.page-profile-wrapper__forms-personal--control {
  position: relative;
  margin-bottom: 10px;
}
.page-profile-wrapper__forms-personal--control:last-child {
  margin-bottom: 0;
}
.page-profile-wrapper__forms-personal--field {
  outline: none;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #262626;
  border: 1px solid #EBEBF0;
}
.page-profile-wrapper__forms-personal--field:focus + label, .page-profile-wrapper__forms-personal--field:valid + label {
  font-size: 12px;
  color: #BFBFBF;
  top: 16px;
  left: 10px;
  background: #fff;
  padding-left: 10px;
}
.page-profile-wrapper__forms-personal--field:focus, .page-profile-wrapper__forms-personal--field:valid {
  padding: 30px 20px 10px 20px;
}
.page-profile-wrapper__forms-personal--label {
  transition: 0.3s;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #BFBFBF;
  font-size: 16px;
}
.page-profile-wrapper__forms-personal--sex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #EBEBF0;
  margin: 0 20px 30px 20px;
  border-radius: 6px;
}
.page-profile-wrapper__forms-personal--sex::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  height: 80%;
  width: 1px;
  background: #fff;
}
.page-profile-wrapper__forms-personal--radio {
  flex: 1;
}
.page-profile-wrapper__forms-personal--button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.page-profile-wrapper__forms-personal--button:checked + label {
  background-color: #fff;
  border-color: #EBEBF0;
}
.page-profile-wrapper__forms-personal--text {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  overflow: hidden;
  transition: linear 0.1s;
  border: 2px solid transparent;
  color: #262626;
  cursor: pointer;
}
.page-profile-wrapper__forms-personal--buttons {
  display: none;
  justify-content: flex-end;
  margin: 0 20px 20px 20px;
  -webkit-animation: softness 0.3s linear;
          animation: softness 0.3s linear;
}
.page-profile-wrapper__forms-personal--buttons.active {
  display: flex;
  -webkit-animation: softness 0.3s linear;
          animation: softness 0.3s linear;
}
.page-profile-wrapper__forms-personal--cancel, .page-profile-wrapper__forms-personal--save {
  padding: 15px 45px;
  border-radius: 10px;
}
.page-profile-wrapper__forms-personal--cancel {
  border: 1px solid #EBEBF0;
  background-color: #fff;
}
.page-profile-wrapper__forms-personal--save {
  margin-left: 20px;
}
.page-profile-wrapper__forms-personal--save.active {
  color: #fff;
  background-color: #0100D3;
}
.page-profile-wrapper__forms-right {
  margin-left: 20px;
  width: 100%;
}
.page-profile-wrapper__forms-security {
  border: 1px solid #EBEBF0;
  border-radius: 10px;
  color: #7B828A;
  margin-bottom: 20px;
  overflow: hidden;
}
.page-profile-wrapper__forms-security--title {
  font-size: 16px;
  font-weight: 500;
  background-color: #FAFAFA;
  padding: 15px 20px;
}
.page-profile-wrapper__forms-security--change-password {
  position: relative;
  padding: 20px 0 15px 0;
  margin: 0 20px;
  font-size: 16px;
  margin-bottom: 25px;
  color: #C5C5C7;
  border-bottom: 1px solid #EBEBF0;
  cursor: pointer;
}
.page-profile-wrapper__forms-security--change-password::after {
  content: url("../img/reset_passwor.png");
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-30%);
}
.page-profile-wrapper__forms-security--modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  max-width: 95%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.18s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.page-profile-wrapper__forms-security--modal.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.page-profile-wrapper__forms-security--backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.page-profile-wrapper__forms-security--backdrop.hidden {
  display: none;
}
.page-profile-wrapper__forms-security--popup {
  padding: 33px 30px 20px 30px;
}
.page-profile-wrapper__forms-security--ttl {
  font-size: 24px;
  color: #262626;
  font-weight: 600;
  margin-bottom: 25px;
}
.page-profile-wrapper__forms-security--ctrl {
  position: relative;
  margin-bottom: 10px;
}
.page-profile-wrapper__forms-security--ctrl:last-child {
  margin-bottom: 0;
}
.page-profile-wrapper__forms-security--fld {
  outline: none;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #262626;
  border: 1px solid #EBEBF0;
}
.page-profile-wrapper__forms-security--fld:focus + label, .page-profile-wrapper__forms-security--fld:valid + label {
  font-size: 12px;
  color: #BFBFBF;
  top: 16px;
  left: 10px;
  background: #fff;
  padding-left: 10px;
}
.page-profile-wrapper__forms-security--fld:focus, .page-profile-wrapper__forms-security--fld:valid {
  padding: 30px 55px 10px 20px;
}
.page-profile-wrapper__forms-security--label {
  transition: 0.3s;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #BFBFBF;
  font-size: 16px;
  pointer-events: none;
}
.page-profile-wrapper__forms-security--eye {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-37%);
  cursor: pointer;
}
.page-profile-wrapper__forms-security--eye::after {
  content: url("../img/show_eye.png");
}
.page-profile-wrapper__forms-security--eye.hide::after {
  content: url("../img/hide_eye.png");
}
.page-profile-wrapper__forms-security--error {
  color: red;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
}
.page-profile-wrapper__forms-security--error.error {
  visibility: visible;
  transition: 0.3s;
}
.page-profile-wrapper__forms-security--buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.page-profile-wrapper__forms-security--cencel, .page-profile-wrapper__forms-security--save {
  padding: 15px 50px;
  font-size: 16px;
  border-radius: 10px;
}
.page-profile-wrapper__forms-security--cencel.active, .page-profile-wrapper__forms-security--save.active {
  color: #fff;
  background-color: #0100D3;
}
.page-profile-wrapper__forms-security--cencel {
  background-color: #fff;
  border: 1px solid #EBEBF0;
}
.page-profile-wrapper__forms-security--save {
  margin-left: 40px;
  background-color: #EFEFF0;
}
.page-profile-wrapper__forms-security--cross {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}
.page-profile-wrapper__forms-notifications {
  border: 1px solid #EBEBF0;
  border-radius: 10px;
  color: #7B828A;
  overflow: hidden;
}
.page-profile-wrapper__forms-notifications--title {
  font-size: 16px;
  font-weight: 500;
  background-color: #FAFAFA;
  padding: 15px 20px;
}
.page-profile-wrapper__forms-notifications--accordeon {
  padding: 20px;
}
.page-profile-wrapper__forms-notifications--state:first-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #EBEBF0;
}
.page-profile-wrapper__forms-notifications--state:last-child {
  margin-top: 30px;
}
.page-profile-wrapper__forms-notifications--headline {
  position: relative;
  display: block;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #262626;
  cursor: pointer;
}
.page-profile-wrapper__forms-notifications--headline::after {
  content: url("../img/arrow.png");
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s linear;
}
.page-profile-wrapper__forms-notifications--headline.revorse::after {
  transition: 0.2s linear;
  transform: rotate(180deg);
}
.page-profile-wrapper__forms-notifications--headline:hover {
  color: #7B828A;
}
.page-profile-wrapper__forms-notifications--hide {
  margin-top: 45px;
  display: none;
  -webkit-animation: softness 0.3s linear;
          animation: softness 0.3s linear;
}
.page-profile-wrapper__forms-notifications--hide.show {
  display: block;
}
.page-profile-wrapper__forms-notifications--checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.page-profile-wrapper__forms-notifications--checkboxes:last-child {
  margin-bottom: 0;
}
.page-profile-wrapper__forms-notifications--switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
.page-profile-wrapper__forms-notifications--checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.page-profile-wrapper__forms-notifications--checkbox:checked + span {
  background-color: #30DB5B;
}
.page-profile-wrapper__forms-notifications--checkbox:checked + span::before {
  background-position: center center;
  background-image: url("../img/ckecked.png");
  transform: translateX(18px);
  background-color: #fff;
}
.page-profile-wrapper__forms-notifications--slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 34px;
  transition: 0.4s;
}
.page-profile-wrapper__forms-notifications--slide::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  height: 26px;
  width: 26px;
  background-color: #fff;
  background-image: url("../img/off.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.4s;
}
.page-profile-wrapper__forms-notifications--text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

@-webkit-keyframes softness {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes softness {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
[data-hint] {
  position: relative;
  cursor: help;
}

[data-hint]::after {
  opacity: 0;
  z-index: -1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 10px;
  content: attr(data-hint);
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -100%);
  pointer-events: none;
  z-index: 22;
  transition: opacity 0.2s;
}

[data-hint]:hover::after {
  opacity: 1;
}

.hint-right::after {
  top: 50%;
  left: auto;
  right: -15px;
  transform: translate(100%, -50%);
}
.hint-right::before {
  content: url("../img/wop.png");
  position: relative;
  top: 3px;
  left: 8px;
}

@media screen and (max-width: 768px) {
  .page-profile {
    padding-left: 0;
  }
  .page-profile-wrapper {
    margin-top: 0;
  }
  .page-profile-title {
    text-align: center;
  }
  .page-profile-wrapper__forms {
    flex-direction: column;
  }
  .page-profile-wrapper__forms-left {
    max-width: unset;
  }
  .page-profile-wrapper__forms-personal--buttons {
    flex-direction: column-reverse;
    margin: 0 0 20px 0;
  }
  .page-profile-wrapper__forms-personal--save {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .page-profile-wrapper__forms-right {
    margin-left: 0;
  }
  .page-profile-wrapper__forms-personal--title {
    background-color: transparent;
    font-weight: 600;
  }
  .page-profile-wrapper__forms-personal--fields {
    padding: 0;
  }
  .page-profile-wrapper__forms-personal {
    border: none;
  }
  .page-profile-wrapper__forms-personal--title {
    padding: 15px 20px 25px 0;
    color: #262626;
  }
  .page-profile-wrapper__forms-personal--sex {
    margin: 20px 0;
  }
  .page-profile-wrapper__forms-security--title {
    background-color: transparent;
    padding: 15px 20px 15px 0;
    color: #262626;
    font-weight: 600;
  }
  .page-profile-wrapper__forms-security {
    border: none;
  }
  .page-profile-wrapper__forms-security--change-password {
    margin: 0;
  }
  .page-profile-wrapper__forms-notifications {
    border: none;
  }
  .page-profile-wrapper__forms-notifications--title {
    padding: 15px 20px 25px 0;
    color: #262626;
    font-weight: 600;
    background-color: transparent;
  }
  .page-profile-wrapper__forms-notifications--accordeon {
    padding: 0;
  }
}
@media screen and (max-width: 479px) {
  .page-profile-wrapper__forms-security--modal {
    min-width: 95%;
  }
  .page-profile-wrapper__forms-security--buttons {
    flex-direction: column-reverse;
  }
  .page-profile-wrapper__forms-security--save {
    margin-left: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */